{% extends 'shopping/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Header-->
<header class="bg-white py-5">
    <div class="container px-4 px-lg-2 my-1">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder"><strong>{% if category %} {{ category }} {% endif %}
                {% if manufacturer %} {{ manufacturer }} {% endif %}
                {% if search_info %} {{ search_info }} 검색 결과 {% endif %}
                {% if tag %} <i class="fas fa-tag"></i> {{ tag }} {% endif %} 상품 리스트

            </strong></h1>
            <p class="lead fw-normal text-black-50 mb-0">다양한 유니폼을 만나보세요</p>
        </div>
    </div>
    <div>
        {% for category in categories %}
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item">
                <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category }}
                    ({{ category.product_set.count }})</a></li>
            {% endfor %}
            <li class="list-group-item"><a class="nav-link" href="{% url 'product_list' %}category/no_category">
                미분류({{ no_category_product_count }})</a></li>
        </ul>
    </div>
    <br/>
        <div>
        {% for manufacturer in manufacturers %}
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item">
                <a class="nav-link" href="{{ manufacturer.get_absolute_url }}">{{ manufacturer }}
                    ({{ manufacturer.product_set.count }})</a></li>
            {% endfor %}
            <li class="list-group-item"><a class="nav-link" href="{% url 'product_list' %}manufacturer/no_manufacturer">
                미분류({{ no_manufacturer_product_count }})</a></li>
        </ul>
    </div>

</header>

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.product_image.url}}"
                                       alt="{{product.name}}의 image"/></div>
            <div class="col-md-6">
                {% if product.category %}
                <a class="small mb-1 text-dark"  href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                {% else %}
                <a class="small mb-1 text-dark" href="{% url 'product_list' %}category/no_category">미분류</a>
                {% endif %}
                {% if user.is_authenticated and user == product.author %}
                <a class="btn btn-outline-dark float-right" href="/product_list/update_product/{{product.pk}}/"
                   role="button">
                    <i class="fas fa-pen">상품 수정하기</i>
                </a>
                {% endif %}
                <h1 class="display-5 fw-bolder"><strong>{{ product.name }}</strong></h1>
                <hr>
                <div class="fs-5 mb-5">
                    <p>상품 등록일 {{ product.register_date|date:"Y-m-d" }}</p>
                    <a class="text-dark" href="{{ product.manufacturer.get_absolute_url }}"><p>제조사 {{ product.manufacturer }}</p></a>
                    <p>제조사 연락처 {{ product.manufacturer.contact }}</p>
                    <p>제조사 주소 {{ product.manufacturer.address }}</p>
                    <p>판매가 <strong>{{ product.price }}원</strong></p>
                    <p>재고 {{ product.stock }}개</p>
                    <hr>
                </div>
                <p class="lead">{{ product.get_description_markdown | safe }}</p>
                {% if product.tags.exists %}
                <i class="fas fa-tag"></i>
                {% for tag in product.tags.iterator %}
                <span class="badge badge-pill badge-light"><a href="{{tag.get_absolute_url}}">{{ tag }}</a></span>
                {% endfor %}
                {% endif %}
                <hr>
                <div>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        구매하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-white">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Comment</h2>
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST"
                      action="{{product.get_absolute_url}}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{comment_form | crispy}}
                    </div>
                    <button type="submit" class="btn btn-outline-dark float-right">등록</button>
                    <br>
                </form>
                {% else %}
                <a role="button" class="btn btn-dark btn-block btn-sm" href="#" data-toggle="modal"
                   data-target="#loginModal">
                    로그인한 사용자만 댓글을 작성할 수 있습니다</a>
                <br>
                {% endif %}
                {% if product.comment_set.exists %}
                {% for comment in product.comment_set.iterator %}
                <!-- Single comment-->
                <div class="d-flex" id="comment-{{comment.pk}}">
                    <div class="flex-shrink-0"><img class="rounded-circle"
                                                    src="{{comment.get_avatar_url}}" alt="{{comment.author}}" width="40px"/>
                    </div>
                    <div class="ms-3">
                        <div class="fw-bold">&nbsp;&nbsp;<strong>{{ comment.author.username }}</strong>
                            &nbsp;&nbsp;<small
                                    class="text-muted">
                                등록: {{ comment.created_at|date:"Y-m-d h:m" }}
                                {% if comment.created_at != comment.modified_at %}
                                수정: {{comment.modified_at|date:"Y-m-d h:m"}}
                                {% endif %}</small>
                        </div>
                        <p>{{ comment.content | linebreaks }}</p>
                    </div>

                </div>
                <div>
                    {% if user.is_authenticated and comment.author == user %}
                    <div class="float-right">
                        <a role="button" class="btn btn-small btn-outline-dark"
                           href="/product_list/update_comment/{{comment.pk}}/">
                            수정
                        </a>
                        <a role="button" class="btn btn-small btn-outline-danger float-right"
                           data-toggle="modal" data-target="#deleteModal-{{comment.pk}}"
                           href="#">
                            삭제
                        </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal-{{comment.pk}}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        댓글 삭제</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                    <span aria-hidden="true">&times;</span>
                                </div>
                                <div class="modal-body">
                                    <del>{{comment|linebreaks}}</del>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소
                                    </button>
                                    <a role="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                                       href="/product_list/delete_comment/{{comment.pk}}/">
                                        삭제
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</section>


{% endblock %}
